p {
    color: black;
            font-size: italic;
            background-color: white;
            border-radius: 5px;
}

textarea {
    color:black;
            font-size: italic;
            background-color: rgb(252, 252, 252);
            border-radius: 5px;
}

body {
    background-color: blue;
}