

<body>
  
  <div>
    <div style="width: 20%; float: left; background-color: aliceblue;">
      Pubblicità
      <br>
      <a href="#" target="_blank">
        <img src="../assets/cocacola.jfif" width="200px" height="300px"> 
    </a>
    <br>
    <hr>
    <a href="#" target="_blank">
      <img src="../assets/pubblicita1.jfif" width="200px" height="300px"> 
  </a>
  <br>
    <hr>
  <a href="#" target="_blank">
    <img src="../assets/pubblicita2.jfif" width="200px" height="300px"> 
  </a>
  <br>
    <hr>
  <a href="#" target="_blank">
    <img src="../assets/pubblicita3.jfif" width="200px" height="300px"> 
  </a>
  <br>
    <hr>
    </div>

    
    <div style="width: 80%; float: left;">
      <div style="width: 63%; float: left; padding-right: 2%;">
        <div *ngIf="commenting" style="margin-bottom: 30px">
          <div style="width: 100%;">
            <p>
              Post in evidenza
            </p>
            <button (click)="backOne()">Torna indietro</button>
            <button (click)="backAll()">Home</button>
          </div>
          <div>
            <app-post [post] = "posts[idSelected-1]"></app-post>
              <button (click)="addVote(posts[idSelected-1])" class="btn btn-primary">
                  Aggiungi voto <span class="badge badge-pill badge-light">{{posts[idSelected-1].getVotes()}}</span>
              </button>
              <button (click)="addComment(posts[idSelected-1])" class="btn btn-primary" style="margin-left: 30px;">
                  Aggiungi commento <span class="badge badge-pill badge-light">{{posts[idSelected-1].commenti}}</span>
              </button>
          </div>
        </div>
    
        <div>
          <form class="jumbotron">
            <div class="form-group">
              <input name="autore" #newautore class="form-control" maxlength="16" placeholder="Autore">
            </div>
            <div class="form-group">
              <textarea name="testo" rows="4" #newtesto class="form-control" maxlength="280" placeholder="Cosa c'è di nuovo?" style="width: 100%; resize: none;"></textarea>
            </div>
            <button (click)="addPost(newautore, newtesto)" class="btn btn-primary">
              Pubblica post
            </button>
            <hr>
          </form>
        </div>
    
        <div *ngFor="let i of getComments()" class="container" style="margin-top: 5px;" style="width: 100%;">
          <app-post [post]="i"></app-post>
          <div>
            <button (click)="addVote(i)" class="btn btn-primary">
                Aggiungi voto <span class="badge badge-pill badge-light">{{i.getVotes()}}</span>
            </button>
            <button (click)="addComment(i)" class="btn btn-primary" style="margin-left: 30px;">
                Aggiungi commento <span class="badge badge-pill badge-light">{{i.commenti}}</span>
            </button>
          </div>
        </div>
    
      </div>
    
      <div style="width: 35%; float: left; background-color: aliceblue">
        <p>Thread in evidenza</p>
        <div *ngFor="let i of getThread()" class="container" style="margin-top: 5px;" style="width: 100%;">
          <app-post [post]="i"></app-post>
          <div>
            <button (click)="addVote(i)" class="btn btn-primary">
                Aggiungi voto <span class="badge badge-pill badge-light">{{i.getVotes()}}</span>
            </button>
            <button (click)="addComment(i)" class="btn btn-primary" style="margin-left: 30px;">
                Aggiungi commento <span class="badge badge-pill badge-light">{{i.commenti}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>